/*input {
    align-self: baseline;
    height: 30px;
    width: 200px;
    margin-left: 350px;
}

form {
    align-items: center;
}

select {
    height: 36px;
    width: 120px;
}

table {
    border: 2px solid black;
    width: auto;
    margin-left: 350px;
}

.string {
    float: left;
}

button {
    margin: 0px;
    height: 36px;
}

th {
    font-size: 13px;
    font-weight: normal;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039;
    padding: 8px;
}

td {
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
    padding: 8px;
}

tr:hover td {
    background: #ccddff;
}

.MainPageTable {
    border: 2px solid black;
    width: auto;
    margin-left: 350px;
}

a {
    margin-right: 10px;
}

.pagination {
    margin-top: 30px;
    margin-left: 400px;
}*/

table {
    border-collapse: collapse;
    width: 70%;
    align-self: center;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}