.info {
  text-align: left;
  margin-left: 20px;
  font-size: 18px;
}

.interest {
  
}

.popup {
    width: 100%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
}

.button {
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #2E7094;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px #999;
}



.button:hover {
    background-color: #368BB4;
}

.button:active {
    background-color: #1a8cff;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}
body {
    margin: 0px;
    padding: 0px;
}

div {
    font-size: 17px;
    color: #fff;
    padding: 5px 5px;
}


h1 {
    text-align: center;
    font-size: 25px;
    color: #ffffff;
}

/* The actual popup (appears on top) */
.popup .holder {
    visibility: hidden;
    width: 600px;
    background-color: rgba(65,65,65,0.9);
    color: #000000;
    text-align: center;
    padding: 10px 30px;
    margin: 13% auto;
  
}

.popup .body{
    text-align: left;
    margin-top: 10px;
    margin: 20px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 0.8;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

